<footer>
    <div class="container-fluid">


        <div class="footer-container">
            <div class="content">
                <h4 class="text-center">
                    &#169;<a href="{{ path('home') }}">StoreInstagram</a> 2017
                </h4>
            </div>
        </div>


    </div>
</footer>