$nav-height: 5rem;
$transition-duration: .3s;


//square images
//$card-height: 500px;


//circle-images
$card-height: 410px;
$card-image-height: 160px;

$card-circle-image-height: 180px;


/*colors*/
$main-yellow: #fce473;
$main-red: #ed6c63;
$main-green: #91c36e;
$main-blue: #42afe3;
$main-cyan: #1fc8db;

$bulma-red: #ff3860;
$bulma-green: #23d160;
$bulma-cyan: #00d1b2;
